figure {
  margin-top: 40px;
  margin-bottom: 50px;
}

@media (min-width: 600px){
  .claim-figure h4 {
    --border-bottom: 1px solid #CCC;
  }
  .claim-figure > div > div {
    margin-left: 40px;
  }
}
@media (max-width: 600px){
  .claim-figure img {
    display: none;
  }
  .claim-figure > div {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .claim-figure > div > div {
    margin-left: 20px;
  }

  .claim-figure .big-only {
    display: none;
  }
}

.claim-figure img {
  max-width: 220px;
  border-radius: 2px;
}
.claim-figure {
  --font-style: italic;
}
.claim-figure > div {
  display: flex;
  flex-direciton: row;
}
.claim-figure > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 550px;
}
.claim-figure h4 {
  margin-top: 0px;
  margin-bottom: 15px;
  flex-grow: 2;
  font-size: 100%;
}
.claim-figure .claim {
  margin-top: 5px;
  margin-bottom: 5px;
  flex-grow: 1;
}
.claim-figure .claim .claim-header {
  font-weight: bold;
  font-size: 90%;
}
h2 {
  border-bottom: none !important;
}



/* TOC */
    @media(max-width: 1000px){
      d-contents {
        justify-self: start;
        align-self: start;
        grid-column-start: 2;
        grid-column-end: 6;
        padding-bottom: 0.5em;
        margin-bottom: 1em;
        padding-left: 0.25em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgba(0, 0, 0, 0.1);
      }
    }
    d-contents a:hover {
      border-bottom: none;
    }

    @media (min-width: 1000px){
      d-contents {
        align-self: start;
        grid-column-start: 1 !important;
        grid-column-end: 4 !important;
        justify-self: end;
        margin-top:  2em;
        padding-right: 3em;
        padding-left: 2em;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: rgba(0, 0, 0, 0.1);
      }
    }

    d-contents nav h3 {
      margin-top: 0;
      margin-bottom: 1em;
    }

    d-contents nav div {
      color: rgba(0, 0, 0, 0.8);
      font-weight: bold;
    }

    d-contents nav a {
      color: rgba(0, 0, 0, 0.8);
      border-bottom: none;
      text-decoration: none;
    }

    d-contents li {
      list-style-type: none;
    }

    d-contents ul {
      padding-left: 1em;
    }

    d-contents nav ul li {
      margin-bottom: .25em;
    }

    d-contents nav a:hover {
      text-decoration: underline solid rgba(0, 0, 0, 0.6);
    }

    d-contents nav ul {
      margin-top: 0;
      margin-bottom: 6px;
    }


    d-contents nav>div {
      display: block;
      outline: none;
      margin-bottom: 0.5em;
    }

    d-contents nav>div>a {
      font-size: 13px;
      font-weight: 600;
    }
